/*   Typography Start    */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 120%;
	color: $font-black;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

h4, h5, h6 {
	font-size: 1rem;
}

p {
	font-size: 0.8rem;
	line-height: 150%;
	color: $font-black;
}

/*   Typography End    */